.template-guidance {
  &__warning {
    background-color: $color_nhsuk-pale-yellow;
    padding: 0 0 12px 0;
    @include print-hide();

    &__body {
      @extend %nhsuk-body-s;
      padding: 12px 0 0 0;
      margin: 0;
    }
  }
}
