// This is the main scss file, add new files for components and import them here
@import "nhsuk-frontend/packages/nhsuk";

// Main CSS
@import "promo";

@import "helpers/_mixins";

@import "settings/_colours";
@import "settings/_grid";

@import "base/_site";
@import "base/_buttons";
@import "base/_article_page";
@import "base/_search";
@import "base/_header";
@import "base/_section_page";

@import "ailab/_ai_lab_resources";
@import "ailab/_ai_lab_carousel";
@import "ailab/_ai_lab_promobanner";
@import "ailab/_ai_lab_topics";
@import "ailab/_ai_lab_latest_blogs";

@import "components/_blog_news";
@import "components/_people";
@import "components/_guidance";
@import "components/_sticky";
@import "components/_alert_banners";

@import "settings/_print";
