{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags time_tags %}

{% block body_class %}template-article{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
{% breadcrumb %}
<section class="nhsx-section nhsx-section--white">
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">

          <nav id="toc" class="nhsuk-contents-list" role="navigation" aria-label="Sections in this page">
              <h2>Contents</h2>
              <ol class="nhsuk-contents-list__list">
              {% for name, anchor in toc %}
              <li class="nhsuk-contents-list__item"><a class="nhsuk-contents-list__link" href='#{{anchor}}'>{{name}}</a></li>
              {% endfor %}
              </ol>
          </nav>

        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            {{ page.title }}
          </h1>
          <p>
	  {% if page.first_published_at %}
	    {% if page.updated_at %}First published{% else %}Published{% endif %} {{page.first_published_at|date:"j F Y"}}.
	  {% endif %}
	  </p>

	  <p>
	  {% if page.updated_at %}
	    Updated {{page.updated_at|date:"j F Y"}}.
	  {% endif %}

	  {% if page.history %}
	  <a href='#version-history'>See all versions.</a>
	  {% endif %}
	    </p>

	  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
	  

          {% for block in page.body %}
            {% include_block block %}
            <div class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
              <a class="nhsuk-link" href="#toc">Back to contents</a>
            </div>
          {% endfor %}

	  {% if page.history %}
	    <h2 id='version-history'>History</h2>
	    {% include_block page.history %}
	  {% endif %}

        </div>
      </div>
    </main>
  </div>
</section>
{% endblock content %}
