{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags time_tags %}

{% block body_class %}template-article{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block breadcrumb %}
{% breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">

          {% if toc %}
          <nav id="contents" class="nhsuk-contents-list" role="navigation" aria-label="Sections in this page">
              <h2>Contents</h2>
              <ol class="nhsuk-contents-list__list">
              {% for name, anchor in toc %}
              <li class="nhsuk-contents-list__item"><a class="nhsuk-contents-list__link" href='#{{anchor}}'>{{name}}</a></li>
              {% endfor %}
              </ol>
          </nav>
          {% endif %}

        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            {{ page.title }}
          </h1>
          <p>
	  {% if page.first_published_at %}
	    {% if page.updated_at %}First published{% else %}Published{% endif %} {{page.first_published_at|date:"j F Y"}}
	  {% endif %}
	  </p>

	  <p>
	  {% if page.updated_at %}
	    Updated {{page.updated_at|date:"j F Y"}}
	  {% endif %}

    {% if page.updated_at and page.history %}
    &ndash;
    {% endif %}

	  {% if page.history %}
	  <a href='#version-history'>see updates.</a>
	  {% endif %}
	    </p>

	  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">


          {% for block in page.body %}
            {% include_block block %}
          {% endfor %}

          <div id="js-top" class="sticky-link nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
            <div class="nhsuk-width-container">
              <a class="nhsuk-link" href="#contents">Back to contents</a>
            </div>
          </div>

	  {% if page.history %}
	    <h2 id='version-history'>History</h2>
      {{ page.history|richtext}}
	  {% endif %}

        </div>
      </div>
    </main>
  </div>
{% endblock content %}
