<header class="nhsuk-header nhsuk-header--nhsx{% if transactional %} nhsuk-header--transactional{% endif %}" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    {% include 'wagtailnhsukfrontend/header/logo.html' %}

    {% if not primary_links and not show_search %}
      {% if service_name and transactional %}
        <div class="nhsuk-header__transactional-service-name{% if service_long_name %} nhsuk-header__transactional-service-name--long {% endif %}">
          <a class="nhsuk-header__transactional-service-name--link" href="{{ service_href|default:"/" }}">{{ service_name }}</a>
        </div>
      {% endif %}
    {% else %}
      <div class="nhsuk-header__content" id="content-header">
        {% if primary_links %}
          {% include 'wagtailnhsukfrontend/header/menu_toggle.html' %}
        {% endif %}

        {% if show_search %}
          {% include 'wagtailnhsukfrontend/header/search.html' %}
        {% endif %}
      </div>
    {% endif %}

  </div>

  {% if primary_links %}
    {% include 'wagtailnhsukfrontend/header/menu.html' %}
  {% endif %}

  {% include '_partials/rebrand.html' %}
</header>
