.env
TEMP/**/*
*.pyc
*.py.swp
*.scssc
.DS_Store
media/**/*
_db/**/*
node_modules
npm-debug.log

# Caches
.mypy_cache/**/*
.pytest_cache/**/*
.webassets-cache
.webassets-cache/*
app/assets/.webassets-cache
app/assets/.webassets-cache/*
app/assets/dist/*

# Coverage
.coverage
coverage.xml
htmlcov/**/*
app/htmlcov/**/*

# Project
app/media/**/*
app/static/**/*

# Something
app/.config/
app/.local/

# Docker
docker/db/**/*
docker/redis/**/*

# Tests
tests/.cache/*
tests/__pycache__/*
app/.pytest_cache/**/*

# Devops
devops/*.retry
/docker-compose.env
/app/data.json
