DJANGO_SECRET_KEY=SECRET_KEY_GOES_HERE
POSTGRES_DB=nhsx
POSTGRES_PASSWORD=nhsx
POSTGRES_USER=nhsx
POSTGRES_HOST=db
REDIS_PASSWORD=nhsx
REDIS_HOST=redis
MEMCACHED_LOCATION=memcached:11211
SERVER_ENV=development
