{% load wagtailcore_tags layout_tags %}

<div class="ai-lab-resource-block">
  <h2>{{ value.heading }}</h2>
  <p>{{ value.description }}</p>
  <br />

  {% for use_case, sub_pages in resources.items %}
  <div class="resource-block resource-block__{{ use_case.title|slugify }} carousel">
    <div class="ai-lab-resource-block__top">
      <h3 class="section-title">{{ use_case.title }}</h3>
      <div class="ai-lab-resource-block__arrows">
        <a href="#" title="Go left" class="previous">&lt;</a>
        <a href="#" title="Go right" class="next">&gt;</a>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="block-promo_group">
          <div class="nhsuk-grid-row nhsuk-promo-group nhsai-resources-group">
            {% include 'ai_lab/_partials/use_case.html' with use_case=use_case %}
            {% for resource in sub_pages %}
              {% include 'ai_lab/_partials/resource.html' with resource=resource.specific page=use_case %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="nhsai-lab__centred-button">
    <a href="/ai-lab/explore-all-resources/" class="nhsuk-button nhsx-button centred">Explore all resources</a>
  </div>
</div>
