{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags guidance_tags %}

{% block body_class %}template-guidance{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block breadcrumb %}
{% breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="template-guidance__warning">
  <div class="nhsuk-width-container">
    <p class="template-guidance__warning__body"><strong>This guidance has been reviewed by the Health and Care Information Governance Panel, including the Information Commissioner’s Office (ICO) and National Data Guardian (NDG).</strong></p>
    <p class="template-guidance__warning__body">The panel exists to simplify information governance guidance. Have we done a good job? Let us know at <a href="mailto:datapolicyhub@nhsx.nhs.uk">datapolicyhub@nhsx.nhs.uk</a>.</p>
  </div>
</div>
<div class="nhsuk-width-container nhsai-resource_page">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsai-resource__meta nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">{{ page.title }}</h1>

        {% for pub in page.get_children.live %}
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="{{pub.url}}">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 384 512" aria-hidden="true">
              <path fill="currentColor" d="M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16zm-48-244v8c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm0 64v8c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm0 64v8c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12z"></path>
            </svg>
            <span class="nhsuk-action-link__text">{{pub.title}}</span>
          </a>
        </div>
        {% endfor %}

        <time class="time"
          datetime="{{page.last_published_at|date:"c"}}">{{page.last_published_at|date:"j F Y"}}</time>

        <div class="topics nhsai-topics">
          {% with index_page=page.get_parent.specific %}
          {% for tag in page.tags.all %}
          <span class="tag"><a href="{{ index_page|guidance_tag_url:tag }}">{{ tag }}</a></span>
          {% endfor %}
          {% endwith %}
        </div>

        {% if page.featured_image or page.download %}
        {% include 'ai_lab/_partials/image_download.html' with page=page classes="nhsai-resource__image nhsai-resource__image__mobile" %}
        {% endif %}

        {% include_block page.introduction %}

        {% if page.service_user_body or page.healthcare_worker_body or page.ig_professional_body %}
        <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

        <ul class="nhsuk-list nhsuk-list--bullet">
          {% if page.service_user_body %}<li><a href="#service_user">I'm a patient/service user - what do I need to know?</a></li>{% endif %}
          {% if page.healthcare_worker_body %}<li><a href="#healthcare_worker">I work in a health and care organisation - what do I need to know?</a></li>{% endif %}
          {% if page.ig_professional_body %}<li><a href="#ig_professional">I'm an IG Professional - what do I need to know?</a></li>{% endif %}
        </ul>
        {% endif %}

        {% if page.service_user_body %}
        <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

        <div id="service_user">
          <h2 class="nhsuk-heading-l">Guidance for patients and service users</h2>
          {% include_block page.service_user_body %}
        </div>
        {% endif %}

        {% if page.healthcare_worker_body %}
        <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

        <div id="healthcare_worker">
          <h2 class="nhsuk-heading-l">Guidance for healthcare workers</h2>
          {% include_block page.healthcare_worker_body %}
        </div>
        {% endif %}

        {% if page.ig_professional_body %}
        <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

        <div id="ig_professional">
          <h2 class="nhsuk-heading-l">Guidance for IG professionals</h2>
          {% include_block page.ig_professional_body %}
        </div>
        {% endif %}

        {% block extra_content %}
        {% endblock %}
      </div>
      {% if page.featured_image or page.download %}
      {% include 'ai_lab/_partials/image_download.html' with page=page classes="nhsai-resource__image nhsai-resource__image__desktop nhsuk-grid-column-one-third" %}
      {% endif %}
    </div>
  </main>
</div>
{% endblock content %}
