{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags guidance_tags %}

{% block body_class %}template-guidance{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
{% breadcrumb %}
<div class="template-guidance__warning">
  <div class="nhsuk-width-container">
    <p class="template-guidance__warning__body"><strong>This guidance has been reviewed by the Health and Care Information Governance Panel, including the ICO and NDG.</strong></p>
    <p class="template-guidance__warning__body">The panel exists to simplify information governance guidance. Have we done a good job? Let us know at <a href="mailto:england.IGPolicyTeam@nhs.net">england.IGPolicyTeam@nhs.net</a>.</p>
  </div>
</div>
<div class="nhsuk-width-container nhsai-resource_page">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsai-resource__meta nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">{{ page.title }}</h1>
	{% for pub in page.get_children %}
	  <p>Full guidance: <a href="{{pub.url}}">{{pub.title}}</a></p>
	{% endfor %}
        <time class="time"
          datetime="{{page.last_published_at|date:"c"}}">{{page.last_published_at|date:"j F Y"}}</time>

        <div class="topics nhsai-topics">
          {% with index_page=page.get_parent.specific %}
          {% for tag in page.tags.all %}
          <span class="tag"><a href="{{ index_page|guidance_tag_url:tag }}">{{ tag }}</a></span>
          {% endfor %}
          {% endwith %}
        </div>

        {% if page.featured_image or page.download %}
        {% include 'ai_lab/_partials/image_download.html' with page=page classes="nhsai-resource__image nhsai-resource__image__mobile" %}
        {% endif %}

        {% include_block page.introduction %}

        {% if page.service_user_body or page.healthcare_worker_body or page.ig_professional_body %}
        <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

        <ul class="nhsuk-list nhsuk-list--bullet">
          {% if page.service_user_body %}<li><a href="#service_user">I'm a patient/service user - what do I need to know?</a></li>{% endif %}
          {% if page.healthcare_worker_body %}<li><a href="#healthcare_worker">I work in a health and care organisation - what do I need to know?</a></li>{% endif %}
          {% if page.ig_professional_body %}<li><a href="#ig_professional">I'm an IG Professional - what do I need to know?</a></li>{% endif %}
        </ul>
        {% endif %}

        {% if page.service_user_body %}
        <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

        <div id="service_user">
          <h2 class="nhsuk-heading-l">Guidance for patients and service users</h2>
          {% include_block page.service_user_body %}
        </div>
        {% endif %}

        {% if page.healthcare_worker_body %}
        <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

        <div id="healthcare_worker">
          <h2 class="nhsuk-heading-l">Guidance for healthcare workers</h2>
          {% include_block page.healthcare_worker_body %}
        </div>
        {% endif %}

        {% if page.ig_professional_body %}
        <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

        <div id="ig_professional">
          <h2 class="nhsuk-heading-l">Guidance for IG professionals</h2>
          {% include_block page.ig_professional_body %}
        </div>
        {% endif %}

        {% block extra_content %}
        {% endblock %}
      </div>
      {% if page.featured_image or page.download %}
      {% include 'ai_lab/_partials/image_download.html' with page=page classes="nhsai-resource__image nhsai-resource__image__desktop nhsuk-grid-column-one-third" %}
      {% endif %}
    </div>
  </main>
</div>
{% endblock content %}
