<div class="nhsuk-grid-column-one-third nhsuk-promo-group__item nhsai-usecase">
  <div class="nhsuk-promo">
    <div class="nhsuk-promo__content">
      <a href="{{ category.specific.url }}" class="nhsuk-promo__link_heading">
        <h2 class="nhsuk-promo__heading">{{ use_case.specific.summary_title }}</h2>
      </a>
      <p class="nhsuk-promo__description">{{ use_case.specific.summary_body }}</p>
      <a class="nhsai_animated-link" href="{{ use_case.specific.url }}">Browse all</a>
    </div>
  </div>
</div>
