{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags  %}

{% block body_class %}template-homepage ai-lab-body{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
{% image page.image width-1000 as hero_image %}
{% include '_partials/hero.html' with hero_text=page.sub_head hero_heading=page.title hero_image=hero_image.url %}
<div class="nhsuk-width-container nhsai-lab__homepage">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {% include_block page.body %}

        {% if blog_posts %}
          <h2>Blog</h2>
          <div class="block-promo_group">
            <div class="nhsuk-grid-row nhsuk-promo-group">
              {% for post in blog_posts %}
                <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-5">
                  <h3 class="nhsuk-heading-m">
                    <a href="{% pageurl post %}">{{post.title}}</a>
                  </h3>
                  {% include '_partials/page_meta.html' with page=post %}
                  <p class="summary__posts">
                    {{post.specific.body|striptags|truncatechars:200}}
                  </p>
                  <p>
                    <a href="{% pageurl post %}">Read More</a>
                  </p>
                </div>
              {% endfor %}
            </div>
          </div>

          <p>
            <a href="/blogs?tags=ai-lab">View all AI Lab posts</a>
          </p>
        {% endif %}
      </div>
    </div>
  </main>
</div>
{% endblock content %}
