{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags  %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
{% breadcrumb %}

{% include '_partials/hero.html' with hero_text=page.sub_head hero_heading=page.title %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="block-promo_group">
          <div class="nhsuk-grid-row nhsuk-promo-group">
          {% for child in page.get_children %}
            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item nhsai-usecase">
              <div class="nhsuk-promo">
                <div class="nhsuk-promo__content">
                  <a href="{{ child.specific.url }}" class="nhsuk-promo__link_heading"><h2 class="nhsuk-promo__heading">{{ child.specific.summary_title }}</h2></a>
                  <p class="nhsuk-promo__description">{{ child.specific.summary_body }}</p>
                  <a class="nhsai_animated-link" href="{{ child.specific.url }}">Browse all</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% include_block page.body %}

        <div class="block-promo_group">
          <div class="nhsuk-grid-row nhsuk-promo-group">
            {% for resource in resources %}
            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo">
                <div class="nhsuk-promo__content">
                  <a href="{{ resource.url }}">
                    <h2>{{ resource.title }}</h2>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock content %}
