{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags  %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
{% breadcrumb %}

{% include '_partials/hero.html' with hero_text=page.sub_head hero_heading=page.title %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {% include_block page.body %}

        <div class="block-promo_group">
          <div class="nhsuk-grid-row nhsuk-promo-group">
            {% for child in page.get_children %}
            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo">
                <div class="nhsuk-promo__content">
                  <a href="{{ child.url }}">
                    <h2>{{ child.title }}</h2>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock content %}
