{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags %}

{% block body_class %}template-article{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
{% breadcrumb %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{ page.title }}</h1>
        <div class="meta">
          <p class="author">{{ page.author.first_name }} {{ page.author.last_name }}</p>
          <time class="time"
            datetime="{{page.first_published_at|date:"c"}}">{{page.first_published_at|date:"j F Y"}}</time>
          <div class="nhsai_resource__tags">
            {% for topic in page.topics.all %}
            <span class="nhsai_resource__tag">{{ topic }}</span>
            {% endfor %}
          </div>
        </div>

        {% include_block page.body %}

        {% block extra_content %}
        {% endblock %}
      </div>
      <div class="nhsuk-grid-column-one-third">
        {% if page.featured_image %}
        {% image page.featured_image width-200 %}
        {% endif %}
        {% if page.download %}
        <p><a href="{{ page.download.url }}">Download full report</a></p>
        {% endif %}
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h2>Explore Further</h2>
        {% for resource in featured_resources %}
        {% include 'ai_lab/_partials/resource.html' with resource=resource page=resource.get_parent.specific %}
        {% endfor %}
      </div>
    </div>
  </main>
</div>
{% endblock content %}
