{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags %}

{% block body_class %}template-article{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
{% breadcrumb %}
<div class="nhsuk-width-container nhsai-resource_page">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsai-resource__meta nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">{{ page.title }}</h1>
        <p class="author">{{ page.author.first_name }} {{ page.author.last_name }}</p>
        <time class="time" datetime="{{page.first_published_at|date:"c"}}">{{page.first_published_at|date:"j F Y"}}</time>
        
        <div class="topics nhsai-topics">
          {% for topic in page.topics.all %}
            <span class="tag"><a href="#">{{ topic }}</a></span>
          {% endfor %}
        </div>

        {% if page.featured_image and page.download %}
          {% include 'ai_lab/_partials/image_download.html' with page=page classes="nhsai-resource__image nhsai-resource__image__mobile" %}
        {% endif %}
        
        {% include_block page.body %}

        {% block extra_content %}
        {% endblock %}
      </div>
      {% if page.featured_image and page.download %}
        {% include 'ai_lab/_partials/image_download.html' with page=page classes="nhsai-resource__image nhsai-resource__image__desktop nhsuk-grid-column-one-third" %}
      {% endif %}
      <div class="nhsuk-grid-column-full">
        <h2>Explore Further</h2>
        <div class="nhsuk-grid-row nhsuk-promo-group nhsai-resources-group">
          {% for resource in featured_resources %}
            {% include 'ai_lab/_partials/resource.html' with resource=resource page=resource.get_parent.specific %}
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock content %}
