// Percentage Function
// Use like this


// Rem/PX
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// Transition
@mixin transition ($property) {
  -webkit-transition: $property .2s ease-in-out;
  -moz-transition: $property .2s ease-in-out;
  transition: $property .2s ease-in-out;
}




// Helpers
@mixin conceal {
  display: none;
  visibility: hidden;
}

@mixin disclose {
  display: block;
  visibility: visible;
}

@mixin hide {
  position: absolute;
  left: -9999em;
}

@mixin show {
  position: static;
  left: inherit;
}

// Animation keyframes
@keyframes pulse {
  from { opacity: 1};
  to { opacity: 0.5};
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; // Chrome 4.0 to 9.0, Safari 3.1 to 5.0, Mobile Safari 3.2 to 4.3, Android Browser 2.1 to 3.0
  -moz-box-shadow:    $shadow; // Firefox 3.5 to 3.6
  box-shadow:         $shadow;
}

@mixin opacity($trans) {
  zoom: 1;
  filter: unquote('alpha(opacity=' + ($trans * 100) + ')'); // IE6 to IE8
  opacity: $trans;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

$is-ie: false !default;
