{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags %}

{% block body_class %}template-article{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block breadcrumb %}
{% breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="nhsuk-width-container people-view">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
          {{ page.title }}
          {% if page.qualifications %}
          <span class="people-view__qualifications">{{ page.qualifications }}</span>
          {% endif %}
          {% if page.position %}
          <span class="nhsuk-u-visually-hidden">-</span>
          <span class="nhsuk-caption-l nhsuk-caption--bottom">{{ page.position }}</span>
          {% endif %}
        </h1>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {% include_block page.body %}

        {% block extra_content %}
        {% endblock %}
      </div>
      <div class="nhsuk-grid-column-one-third people-view__sidebar">
        {% if page.photo %}
        {% image page.photo fill-250x250 class="people-view__sidebar__main-image" %}
        {% endif %}
      </div>
    </div>
  </main>
</div>
{% endblock content %}
