{% load wagtailimages_tags %}
{% load guidance_tags %}

{% image guidance.featured_image width-460 as one_image %}
{% image guidance.featured_image width-510 as two_image %}
{% image guidance.featured_image width-640 as three_image %}
{% image guidance.featured_image width-767 as four_image %}
{% image guidance.featured_image width-1019 as five_image %}
{% image guidance.featured_image width-1125 as six_image %}
{% image guidance.featured_image width-1534 as seven_image %}

<div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
  <div class="nhsuk-promo">

    <a href="{{ guidance.url }}" class="nhsuk-promo__link-wrapper">
      {% if guidance.content_type.name != "Panel Guidance" %}
      <span class="nhsai_resource__category">{{ guidance|guidance_type }}</span>
      {% endif %}

      {% if guidance.featured_image %}
      <div class="nhsuk-promo__img_wrapper">
        <img class="nhsuk-promo__img" src="{{ one_image.url }}" sizes="
                (min-width: 1020px) 320px
                (min-width: 768px) 50vw
                100vw" srcset="
                {{ one_image.url }} 320w,
                {{ two_image.url }} 510w,
                {{ three_image.url }} 640w,
                {{ four_image.url }} 767w,
                {{ five_image.url }} 1019w,
                {{ six_image.url }} 1125w,
                {{ seven_image.url }} 1534w,
              " alt="{{ alt_text }}" />
      </div>
      {% else %}
      <div class="nhsuk-promo__img_wrapper nhsai__resource_without_image"></div>
      {% endif %}
      <div class="nhsuk-promo__content">
        <p class="nhsuk-promo__heading">{{ guidance.title }}</p>
        <p class="nhsuk-promo__description">{{ guidance.summary }}</p>
        <div class="nhsai_resource__tags">
          {% for tag in guidance.tags.all %}
          <span class="nhsai_resource__tag">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </a>
  </div>
</div>
