// NHSX palette
$nhsx-blue: #005eb8;
$nhsx-dark-blue: #003087;
$nhsx-light-blue: #E2F2FF;
$nhsx-pale-grey: #f0f4f5;
$nhsx-mid-grey: #d8dde0;
$nhs-search-border:#aeb7bd;
$nhsx-yellow: #ffeb3b;

//Text Colours
$nhsx-grey-blue: #4c6272;
$nhsx-dark-grey-blue: #002f5c;
$nhsx-dark-grey:  #212b32;

// Standard palette, greys
$black: #202a30;
$grey-1: #545c61;
$grey-2: #818c94;
$grey-3: #adbcc7;
$grey-4: #dadee0;
$offwhite: #efefef;
$white: #ffffff;





// NHS palette
$nhs-dark-blue: #003087;
$nhs-blue: #005eb8;
$nhs-bright-blue: #0072ce;
$nhs-light-blue: #41b6e6;
$nhs-aqua-blue: #00a9ce;
$nhs-black: #231f20;
$nhs-dark-grey: #425563;
$nhs-mid-grey: #768692;
$nhs-pale-grey: #e8edee;
$nhs-dark-green: #006747;
$nhs-green: #009639;
$nhs-light-green: #78be20;
$nhs-aqua-green: #00a499;
$nhs-purple: #330072;
$nhs-dark-pink: #7c2855;
$nhs-pink: #ae2573;
$nhs-dark-red: #8a1538;
$nhs-emergency-red: #da291c;
$nhs-emergency-red-dark:#cb1A0d;
$nhs-light-red: #fdf2f1;
$nhs-orange: #ed8b00;
$nhs-warm-yellow: #ffb81c;
$nhs-yellow: #fae100;
