// NHS palette
$nhs-dark-blue: #003087;
$nhs-blue: #005eb8;
$nhs-bright-blue: #0072ce;
$nhs-light-blue: #41b6e6;
$nhs-aqua-blue: #00a9ce;
$nhs-black: #231f20;
$nhs-dark-grey: #425563;
$nhs-mid-grey: #768692;
$nhs-pale-grey: #e8edee;
$nhs-dark-green: #006747;
$nhs-green: #009639;
$nhs-light-green: #78be20;
$nhs-aqua-green: #00a499;
$nhs-purple: #330072;
$nhs-dark-pink: #7c2855;
$nhs-pink: #ae2573;
$nhs-dark-red: #8a1538;
$nhs-emergency-red: #da291c;
$nhs-emergency-red-dark:#cb1A0d;
$nhs-light-red: #fdf2f1;
$nhs-orange: #ed8b00;
$nhs-warm-yellow: #ffb81c;
$nhs-yellow: #fae100;
$nhs-search-border:#aeb7bd;

// Standard palette, greys
$black: #202a30;
$grey-1: #545c61;
$grey-2: #818c94;
$grey-3: #adbcc7;
$grey-4: #dadee0;
$offwhite: #efefef;
$white: #ffffff;

// Standard palette, colours
$purple: #2e358b;
$purple-50: #9799c4;
$purple-25: #d5d6e7;
$mauve: #6f72af;
$mauve-50: #b7b9d7;
$mauve-25: #e2e2ef;
$fuschia: #912b88;
$fuschia-50: #c994c3;
$fuschia-25: #e9d4e6;
$pink: #d53880;
$pink-50: #eb9bbe;
$pink-25: #f6d7e5;
$baby-pink: #f499be;
$baby-pink-50: #faccdf;
$baby-pink-25: #fdebf2;
$red: #b10e1e;
$red-50: #d9888c;
$red-25: #efcfd1;
$mellow-red: #df3034;
$mellow-red-50: #ef9998;
$mellow-red-25: #f9d6d6;
$orange: #f47738;
$orange-50: #fabb96;
$orange-25: #fde4d4;
$brown: #b58840;
$brown-50: #dac39c;
$brown-25: #f0e7d7;
$yellow: #ffbf47;
$yellow-50: #ffdf94;
$yellow-25: #fff2d3;
$grass-green: #85994b;
$grass-green-50: #c2cca3;
$grass-green-25: #e7ebda;
$green: #006435;
$green-50: #7fb299;
$green-25: #cce0d6;
$turquoise: #28a197;
$turquoise-50: #95d0cb;
$turquoise-25: #d5ecea;
$light-blue: #2b8cc4;
$light-blue-50: #96c6e2;
$light-blue-25: #d5e8f3;
