//article page
.template-article {
  .topics {
    margin-bottom: nhsuk-spacing(3);
  }
}

.block-block_quote {
  @include nhsuk-responsive-margin(5, "left");
  display: flex;

  &:before,
  &:after {
    font-size: 30px;
    content: "\201C";
    line-height: 38px;
    margin-top: 10px;
  }

  &:before {
    text-align: right;
  }

  &:after {
    text-align: left;
    margin-right: nhsuk-spacing(3);
  }

  // &:before {
  //   content: "\201C";
  //   font-size: 30px;
  //   float: left;
  //   clear: both;
  //   margin-right: nhsuk-spacing(3);
  //   line-height: 38px;
  // }
  // &:after {
  //   content: "\201C";
  //   font-size: 30px;
  //   float: left;
  //   clear: both;
  //   margin-right: nhsuk-spacing(3);
  //   line-height: 38px;
  // }
  blockquote {
    margin-left: nhsuk-spacing(5);

    &:last-child {
      margin-bottom: nhsuk-spacing(4);
    }
  }
}

//Rich text first paragraph selector
.block-rich_text:first-child {
  p:first-child {
    font-size: 19px;

    @media (min-width: 40.0625em) {
      font-size: 24px;
    }
  }

  div.rich-text :last-child {
    margin-bottom: 24px;
  }
}

//Rich text handle long anchor links overflow
.rich-text {
  a {
    @include word-wrap;
  }
}

//sidebar
.nhsuk-contents-list {
  h2 {
    margin-bottom: 13px;
  }
}