
//Badges
.template-article {
  .topics .tag a {
    background:$white;
  }
}
.topics .tag a {
  padding: 3px 7px;
  background:$offwhite;
  @include border-radius(5px);
  border: 1px solid $nhs-pale-grey;
  margin-bottom: 5px;
  display: inline-block;

  color: $nhs-dark-grey;
  text-decoration: none;
  &:hover {
    background: $nhs-blue;
    border-color:$nhs-bright-blue;
    color: $white;
    text-decoration: none;
    @include transition(all);
  }
}
