
//Badges

.tags .tag a {
    padding: 3px 7px;
    background:$offwhite;
    @include border-radius(5px);
    border: 1px solid $nhs-pale-grey;
    color: $nhs-dark-grey;
    text-decoration: none;
    &:hover {
      background: $nhs-blue;
      border-color:$nhs-bright-blue;
      color: $white;
      text-decoration: none;
      @include transition(all);
    }
}
