//Hero

.nhsuk-hero--image-description .nhsuk-hero-content {
  background-color: $nhsx-dark-blue;

  .nhsuk-hero__arrow:after,
  .nhsuk-hero__arrow:before {
    border-color: $nhsx-dark-blue;
  }
}

//Fullwidth white section
.nhsx-section--white,
.nhsx-promo--white {
  background-color: $white;
}

@media screen and (min-width: $medium-screen) {
  .nhsx-section {
    padding-bottom: nhsuk-spacing(8);
    padding-top: nhsuk-spacing(8);
  }
}

.nhsx-section {
  padding-bottom: nhsuk-spacing(5);
  padding-top: nhsuk-spacing(5);
}

.template-homepage.section-page {

  .nhsuk-width-container,
  .nhsuk-header__navigation {
    @media (min-width: 1220px) {
      max-width: 1170px;
    }
  }

  .nhsuk-hero__wrapper {
    .nhsuk-heading-l {
      font-size: 2.5rem;

      @media (min-width: 40.0625em) {
        font-size: 3rem;
      }
    }

    .nhsuk-body-l {
      font-size: 1.5rem;

      @media (min-width: 40.0625em) {
        font-size: 2rem;
      }
    }
  }
}

.section-page__homepage {
  .nhsuk-main-wrapper {
    padding: 80px 0;
  }

  h2:not(.nhsuk-promo__heading) {
    margin-top: 80px;
    color: $nhsx-blue;

    &:before {
      height: 3px;
      width: 100%;
      content: '';
      background: $nhsx-blue;
      display: block;
      margin-bottom: 24px;
    }

    @media (min-width: 40.0625em) {
      font-size: 2.5rem;
    }
  }

  h3.section-title {
    max-width: none;
    color: $nhsx-blue;
    margin-top: 24px;
    text-transform: uppercase;
    font-weight: 500;

    &:after {
      height: 1px;
      width: 100%;
      content: '';
      background: $nhsx-blue;
      display: block;
      margin-top: 12px;
    }

    @media (min-width: 40.0625em) {
      font-size: 1.5rem;
    }
  }

  .block-latest_blog_posts {
    h2 {
      padding-top: 0;
    }
  }

  .nhsuk-promo-group {
    .nhsuk-promo__content__nolink {
      background: $white;
      height: 100%;

      .nhsuk-promo__heading {
        text-decoration: none;
      }
    }
  }
}

.step-by-step {
  position: relative;
  list-style: none;
  padding-left: 0px;
  counter-reset: stepper; }
  .step-by-step:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 5px;
    height: 3px;
    width: 25px;
    background: #aeb7bd; }
  .step-by-step__step {
    padding-left: 60px;
    position: relative;
    margin-bottom: 0px; }
    @media screen and (min-width: 641px) {
      .step-by-step__step {
        padding-left: 70px; } }
    .step-by-step__step:after {
      content: "";
      display: block;
      width: 3px;
      background: #aeb7bd;
      height: 100%;
      position: absolute;
      left: 16px;
      top: 35px;
      z-index: 1; }
      @media screen and (min-width: 641px) {
        .step-by-step__step:after {
          top: 45px; } }
    .step-by-step__step:last-of-type:after {
      bottom: 0px;
      height: inherit; }
    .step-by-step__step:before {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      font-weight: bold;
      border-radius: 100px;
      border: 3px solid #aeb7bd;
      counter-increment: stepper;
      content: counter(stepper);
      position: absolute;
      left: 0;
      top: 25px;
      background: #f0f4f5;
      z-index: 2; }
      @media screen and (min-width: 641px) {
        .step-by-step__step:before {
          top: 35px; } }
  .step-by-step details {
    border-top: 2px solid #d8dde0;
    padding: 20px 0px; }
    @media screen and (min-width: 641px) {
      .step-by-step details {
        padding: 30px 0px; } }
    .step-by-step details[open] summary:after {
      content: "Hide"; }
  .step-by-step summary {
    display: block;
    cursor: pointer; }
    .step-by-step summary::-webkit-details-marker {
      display: none; }
    .step-by-step summary:first-of-type {
      list-style-type: none; }
    .step-by-step summary h2 {
      margin-bottom: 5px; }
    .step-by-step summary:after {
      content: "Show";
      color: #005eb8; }
    .step-by-step summary:hover {
      color: #005eb8; }
      .step-by-step summary:hover:after {
        text-decoration: underline; }
    .step-by-step summary:focus {
      outline: 3px solid transparent;
      color: #212b32;
      background: #ffeb3b;
      box-shadow: 0 -2px #ffeb3b, 0 4px #212b32; }
      .step-by-step summary:focus:after {
        color: #212b32; }
  .step-by-step__description {
    margin-top: 25px; }
  .step-by-step__content-list {
    list-style: none;
    margin-top: 25px;
    padding-left: 0px; }