// make images show at the width of the column

figure.nhsuk-image {
  width: 100%;
}

div.fixed-height {
  height: 400px;
}

img.richtext-image,
img.full-width {
  width: 100%;
  height: auto;
}

//Some max-width for images in rich-text
//Ideally this should be done in the wagtail-nhsuk-frontend package
//But not possible at this time

img.richtext-image {

  // full width already catered for above
  &.left {
    max-width: 280px;
    float: left;
    clear: right;
    margin-right: 0.5rem;
  }

  &.right {
    max-width: 280px;
    float: right;
    clear: left;
    margin-left: 0.5rem;
  }
}

img.richtext-image.left + p {
  clear: right;
}

img.richtext-image.right + p {
  clear: left;
}



div.rich-text:last-child {
  p {
    margin-bottom: nhsuk-spacing(4);
  }
}

//responsive embed videos

.responsive-embed,
.responsive-object {
  height: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 0 auto;
  max-height: 100vh;
  width: 100%;

  video,
  iframe,
  img,
  a {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
  }

  video,
  iframe {
    z-index: 1;
  }
}

//basic flexbox layout

.dxw-card-group {
  @include flex();
}