{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags %}

{% block body_class %}template-article{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
{% breadcrumb %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{ page.title }}</h1>
        {% if show_meta %}
          {% include '_partials/page_meta.html' %}
        {% endif %}
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {% include_block page.body %}

        {% block extra_content %}
        {% endblock %}
      </div>
      {% if page.has_sidebar and page.sidebar_pages|length %}
      <div class="nhsuk-grid-column-one-third">
        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this section">
          <h2 class="nhsuk-heading-m">{{ page.sidebar_title }}</h2>
          <ol class="nhsuk-contents-list__list">
                {% for p in page.sidebar_pages %}
                {% if page.url == p.url %}
                <li class="nhsuk-contents-list__item" aria-current="page">
                  <span class="nhsuk-contents-list__current">{{ p.title }}</span>
                </li>
                {% else %}
                <li class="nhsuk-contents-list__item">
                  <a class="nhsuk-contents-list__link" href="{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
          </ol>
        </nav>
      </div>
      {% endif %}
    </div>
  </main>
</div>
{% endblock content %}
