{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags %}

{% block body_class %}template-article{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">{{ page.title }}</h1>
        {% include_block page.body %}
      </div>
    </div>
  </main>
</div>
{% endblock content %}
