{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

{% image page.image width-1000 as hero_image %}
{% include '_partials/hero.html' with hero_text=page.sub_head hero_heading=page.title hero_image=hero_image.url %}
{% if page.specific.featured_posts|length %}
<section class="nhsx-section">
    <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
        {% for post in page.specific.featured_posts %}
          <div class="nhsuk-grid-column-{{column_size}} nhsuk-u-margin-bottom-5">
            <h3 class="nhsuk-heading-m">
              <a href="{% pageurl post.value %}">{{post.value.title}}</a>
            </h3>
            {% include '_partials/page_meta.html' with page=post.value %}
            <p class="summary__posts">
              {{post.value.body|striptags|truncatechars:200}}
            </p>
            <p>
              <a href="{% pageurl post.value %}">Read More</a>
            </p>
          </div>
        {% endfor %}
    </div>
    </div>
</section>
{% endif %}
<section class="nhsx-section nhsx-section--white">
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        {% if hero_image or hero_text %}
        <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
          {%else %}
         <div class="nhsuk-grid-row">
        {% endif %}
          {% for post in pages.object_list %}
            {% if post.id not in page.specific.featured_ids %}
            <div class="nhsuk-grid-column-{{column_size}} nhsuk-u-margin-bottom-5 {{ item_class }}">
              <h3 class="nhsuk-heading-m">
                <a href="{% pageurl post %}">{{post.title}}</a>
              </h3>
              {% include '_partials/page_meta.html' with page=post %}
              <p class="summary__posts">
                {{post.specific.body|striptags|truncatechars:200}}
              </p>
              <p>
                <a href="{% pageurl post %}">Read More</a>
              </p>
            </div>
            {% endif %}
          {% endfor %}
        </div>
    </main>
    {% if next_link and previous_link %}
        {% include 'wagtailnhsukfrontend/pagination.html' with prev_url=previous_link next_url=next_link %}
    {% elif next_link %}
        {% include 'wagtailnhsukfrontend/pagination.html' with next_url=next_link %}
    {% elif previous_link %}
        {% include 'wagtailnhsukfrontend/pagination.html' with prev_url=previous_link %}
    {% endif %}
  </div>
</section>
{% endblock content %}
{% include 'wagtailnhsukfrontend/footer.html' %}
