{% extends "base.html" %}
{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags wagtailimages_tags %}

{% block body_class %}template-section{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
{% if page.image or page.sub_head %}
  {% image page.image width-1000 as hero_image %}
  {% include '_partials/hero.html' with hero_text=page.sub_head hero_heading=page.title hero_image=hero_image.url %}
{% endif %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    {% if hero_image or page.sub_head %}
    <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
      {%else %}
     <div class="nhsuk-grid-row">
    {% endif %}
      <div class="nhsuk-grid-column-two-thirds">
        {% if not page.image and not page.sub_head %}
          <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">{{ page.title }}</h1>
        {% endif %}

        {% include_block page.body %}
      </div>
    </div>

    <h2 class="nhsuk-heading-m">{{ page.sidebar_title }}</h2>
    {% for row in page.subnav_pages|chunk:page.subnav_items_per_row %}
      <div class="nhsuk-grid-row nhsuk-promo-group">
        {% for promo in row %}
          <div class="nhsuk-grid-column-{{ page.subnav_column_class }} nhsuk-promo-group__item nhsuk-promo-group__item">
            <div class="nhsuk-promo">
              <a class="nhsuk-promo__link-wrapper" href="{{ promo.url }}">
                <div class="nhsuk-promo__content">
                  <h2 class="nhsuk-promo__heading">{{ promo.title }}</h2>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </main>
</div>
{% endblock content %}
