TODO: Don't use an external CDN for the javascript

<script>
    var scr  = document.createElement('script'),
    head = document.head || document.getElementsByTagName('head')[0];
    scr.src = 'https://unpkg.com/tablefilter@0.7.2/dist/tablefilter/tablefilter.js';
    scr.async = false; // optionally
    head.insertBefore(scr, head.firstChild);

    function whenAvailable(name, callback) {
    var interval = 10; // ms
    window.setTimeout(function() {
        if (window[name]) {
            callback(window[name]);
        } else {
            whenAvailable(name, callback);
        }
    }, interval);
}

whenAvailable("TableFilter", function(t) {
        var tf = new TableFilter(document.querySelector("table"), {
	base_path: 'https://unpkg.com/tablefilter@0.7.2/dist/tablefilter/tablefilter.js'
    });
    tf.init();// do something
});

</script>