{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {% include '_partials/head_meta.html' with page=self %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'wagtailnhsukfrontend/css/wagtail-nhsuk-frontend.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% include 'wagtailnhsukfrontend/header.html' with show_search=True %}
        {% block content %}

        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'wagtailnhsukfrontend/js/nhsuk-3.0.2.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
