{% load wagtailcore_tags static wagtailuserbar nhsukfrontend_tags nhsukfrontendsettings_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {% block noindex %}{% endblock %}
        {% include '_partials/head_meta.html' with page=self %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'wagtailnhsukfrontend/css/wagtail-nhsuk-frontend.min.css' %}">
        {% load assets %}
        {% assets "css_core" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% header %}

        {% block breadcrumb %}
        {% endblock %}

        {% include '_partials/rebrand.html' %}
        {% block content %}

        {% endblock %}

        {% footer %}
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'wagtailnhsukfrontend/js/nhsuk-5.0.0.min.js' %}" defer></script>

        {% load assets %}
        {% assets "js_core" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% if settings.core.AnalyticsSettings.ga4_id %}
            <!-- Google tag (gtag.js) -->
            <script data-cookieconsent="statistics" type="text/plain" async src="https://www.googletagmanager.com/gtag/js?id={{ settings.core.AnalyticsSettings.ga4_id }}"></script>
            <script data-cookieconsent="statistics" type="text/plain">
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '{{ settings.core.AnalyticsSettings.ga4_id }}');
            </script>
        {% endif %}

        {% if settings.core.AnalyticsSettings.property_id %}
            <script data-cookieconsent="statistics" type="text/plain" src="https://www.googletagmanager.com/gtag/js?id={{ settings.core.AnalyticsSettings.property_id }}"></script>
            <script data-cookieconsent="statistics" type="text/plain">
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ settings.core.AnalyticsSettings.property_id }}', { 'anonymize_ip': true });
            </script>
        {% endif %}
    </body>
</html>
